.summary {
  cursor: pointer;
  font: inherit;
  position: absolute;
  border-radius: 20px;
  width: 40%;
  background-color: #3f3f3f;
  -webkit-box-shadow: 3px 4px 27px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 27px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 27px -1px rgba(0, 0, 0, 0.75);
  ;
  color: white;
  left: 30%;
  top: 40%;
}

.wrapper {
  width: 100%;
  padding: 0 5%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wrapper h1,
span {
  padding: 10px 0;
  font-weight: bold;
}

.wrapper h1 {
  font-size: 35px;
}